/* --- VARIABLES GLOBALES --- */
:root {
    --fondo-rose: radial-gradient(circle at center, #1a0a1a 0%, #050505 100%);
    --texto-rose: #ffffff;
    --acentos-rose: #ff66b2;
    --panel-rose: #161616;
    --borde-tarjeta: rgba(255, 102, 178, 0.2);
}

/* Aplicación base */
body {
    background: var(--fondo-rose);
    color: var(--texto-rose);
    transition: background 0.3s ease, color 0.3s ease;
    margin: 0;
    font-family: sans-serif;
}

/* --- CLASES DE TEMA --- */
body.tema-gris {
    --fondo-rose: #2c2c2c;
    --texto-rose: #ffffff;
    --panel-rose: #1a1a1a;
}
body.tema-malva {
    --fondo-rose: #dfd3e3;
    --texto-rose: #2d1b36;
    --panel-rose: #c4b5ce;
    --acentos-rose: #9b72aa;
}

/* --- BARRA DE PROGRESO --- */
#barra-progreso-rose {
    position: fixed; top: 0; left: 0; width: 0%; height: 5px;
    background: linear-gradient(90deg, var(--acentos-rose), #ffd700);
    z-index: 9999;
}

/* --- MENÚ DESPLEGABLE DE COLORES --- */
.sub-menu-colores {
    display: none;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--panel-rose);
    border: 1.5px solid var(--acentos-rose);
    padding: 10px;
    border-radius: 25px;
    flex-direction: column;
    gap: 10px;
    z-index: 105;
    box-shadow: 0 0 20px rgba(255, 102, 178, 0.5);
}

.sub-menu-colores.visible-rose {
    display: flex;
    animation: emergerMenu 0.2s ease-out;
}

@keyframes emergerMenu {
    from { opacity: 0; transform: translate(-50%, 10px); }
    to { opacity: 1; transform: translate(-50%, 0); }
}

.dot { width: 25px; height: 25px; border-radius: 50%; cursor: pointer; border: 1px solid white; }


/* ========================================== */
/* --- NUEVO: AJUSTE IMÁGENES DEL LECTOR --- */
/* ========================================== */

/* Forzamos al contenedor de tus capítulos a centrar todo el contenido */
#contenido-imagenes {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important; /* Centra horizontalmente en PC */
    margin: 0 auto !important;
}

/* Forzamos a las imágenes a ser angostas en PC e ignorar el estilo interno del HTML */
#contenido-imagenes img {
    width: 100% !important;            /* Ocupa todo el ancho en celulares */
    max-width: 460px !important;       /* <-- MODIFICADO: Una pizca más grande para el balance perfecto */
    height: auto !important;           /* Mantiene la proporción original de la imagen */
    display: block !important;
    margin: 0 auto !important;         /* Asegura el centrado absoluto */
}
